<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario para Crear un plan de consumo</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Formulario para Crear un plan de consumo</h1>
        <form th:action="@{'/planesConsumo/editar/' +${planConsumo.id} + '/guardar'}" th:object="${planConsumo}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre del plan de consumo:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required th:value="${planConsumo.nombre}">
                <label for="nombre">Descripcion:</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" required th:value="${planConsumo.descripcion}">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>