<!DOCTYPE html>
<html>
<head>
    <title>ocupacion por habitacion</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>ocupacion por habitacion
        </h1>
        <p>Esta lista es entre las fechas <b th:text="${fecha_inicio}"></b> y <b th:text="${fecha_fin}"></b></p>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dias ocupados</th>
                    <th>Habitacion</th>
                    <th>Porcentaje (round 2 decimales)</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="hab : ${ocupacion}">
                    <td th:text="${hab.dias}"></td>
                    <td th:text="${hab.habitacion}"></td>
                    <td th:text="${hab.porcentaje} + '%'"></td>
                </tr>

            </tbody>
        </table>
        <a class="btn btn-danger" th:href = "@{/gerente}">Regresar</a>
    </div>



</body>
</html>