<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario para editar un Tipo de Usuario</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Formulario para editar un Tipo de Usuario</h1>
        <form th:action="@{'/tiposUsuario/editar/' + ${tipoUsuario.id} + '/guardar'}" method="post" th:object="${tipoUsuario}" >
            <div class="form-group">
        
                <label for="nombre">Nombre del Tipo de Usuario:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required th:value="${tipoUsuario.nombre}">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>