<!DOCTYPE html>
<html>
<head>
    <title>tipos de usuario</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container">
        <h1>Lista de Tipos de Usuario</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera a través de la lista de tipos de usuario y muestra cada uno en una fila de la tabla -->
                <tr th:each="tipoUsuario : ${tiposUsuario}">
                    <td th:text="${tipoUsuario.id}"></td>
                    <td th:text="${tipoUsuario.nombre}"></td>
                    <td>
                        <a th:href="@{/tiposUsuario/editar/{id}(id=${tipoUsuario.id})}"  class="btn btn-info" >Editar</a>
                        <a th:href="@{/tiposUsuario/eliminar/{id}(id=${tipoUsuario.id})}" class="btn btn-danger"
                        onclick="return confirm('¿Estás seguro de borrar este tipo de ususario?')">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-success" th:href="@{/tiposUsuario/nuevo}">Crear Nuevo Tipo de Usuario</a>
        <a class="btn btn-danger" th:href="@{/adminDb}">Regresar</a>
    </div>
</body>
</html>
