<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario para Crear un Tipo de Usuario</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Formulario para Crear un Tipo de Usuario</h1>
        <form th:action="@{/tiposUsuario/nuevo/guardar}" method="post">
            <div class="form-group">
                <label for="id">Id del tipo de usuario</label>
                <input type="number" class="form-control" id="id" name="id" placeholder="Id" required th:value="${tiposUsuario.id}" >
                <label for="nombre">Nombre del Tipo de Usuario:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required th:value="${tiposUsuario.nombre}">
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>