<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario habitacion</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Formulario para crear una habitacion</h1>
        <form th:action="@{/habitaciones/nuevo/guardar}" method="post">
            <div class="form-group">
                <label class="col-form-label" for="numero_habitacion">Numero de la habitacion</label>
                <input class="form-control" type="number" id="numero_habitacion" name="numero_habitacion" required th:value="${habitacion.numero_habitacion}"/>
        
                <label class="col-form-label" for="tipo_habitacion">Tipo de habitacion</label>
                <select class="form-control" id="tipo_habitacion" name="tipo_habitacion" required>
                <th:block th:each="tipoHabitacion : ${tiposHabitacion}" >
                    <option th:value="${tipoHabitacion.id}" th:text="${tipoHabitacion.nombre}" th:selected="${habitacion!=null || habitacion.tipo_habitacion == tipoHabitacion.id}"></option>
                </th:block>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</body>
</html>