<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container text-center">
        <h1>Hotel de los Andes</h1>
        <div class="container mt-4">
            <img th:src="@{/images/admin.png}" alt="Hotel de los Andes" class="img-fluid">
    
            <div class="mt-5">
                <a th:href="@{/tiposUsuario}" class="btn btn-success">tipos de usuario</a>
                <a th:href="@{/usuarios}" class="btn btn-success">usuarios</a>
                <a th:href="@{/tiposHabitacion}" class="btn btn-success">tipos de habitacion</a>
                <a th:href="@{/habitaciones}" class="btn btn-success">habitaciones</a>
                <a th:href="@{/planesConsumo}" class="btn btn-success">planes de consumo</a>
                <a th:href="@{/}" class="btn btn-danger">Inicio</a>
            </div>
        </div>
        
</body>
</html>