<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <div class="container text-center">
        <h1>Hotel de los Andes</h1>
        <div class="container mt-4">
            <img th:src="@{/images/hotel.jpg}" alt="Hotel de los Andes" class="img-fluid">
            <h2>¿Quien eres?</h2>
            <div class="mt-5">

                <a th:href="@{/adminDb}" class="btn btn-success">Administrador</a>
                <a th:href="@{/cliente}"class="btn btn-success">Cliente</a>
                <a th:href="@{/recepcionista}" class="btn btn-success">Recepcionista</a>
                <a th:href="@{/empleado}" class="btn btn-success">empleado</a>
                <a th:href="@{/gerente}" class="btn btn-success">Gerente</a>
            </div>
        </div>
</body>
</html>